Abjad==2.16
alabaster==0.7.6
Babel==2.1.1
configobj==5.0.6
docutils==0.12
enum34==1.0.4
Jinja2==2.8
MarkupSafe==0.23
ply==3.8
py==1.4.30
Pygments==2.0.2
pytest==2.8.3
pytz==2015.7
six==1.10.0
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.9
termcolor==1.1.0
