{:title "Test"
 :author "Anonymous"
 :sessions [melos.score.group-c/session-config melos.score.group-d/session-config]
 :composition-fn melos.score.compose-score/compose
 :rerender-sessions? true
 :compose-score? true}
